<div>
    <h3>Project links</h3>
    <div class="padding">
        <li *ngIf="links.length == 0">No links to show</li>
        <li *ngFor="let link of links; let index = index">
            <div class="row space-between">
                <div>
                    <a href="{{link.link}}">{{link.for}}</a>
                </div>
                <button (click)="delete('link',link.for)" mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>            
            </div>
            <mat-divider *ngIf="index != links.length - 1"></mat-divider>
        </li>
    </div>
    <h3>Project features</h3>
    <div class="padding">
        <li *ngIf="features.length == 0">No features to show</li>
        <li *ngFor="let feature of features; let index = index">
            <div class="row space-between">
                <div class="row max-width-60 align-center">
                    <mat-checkbox class="margin-right" (change)="toggleStatus('feature', feature._id, feature.completed.value)" [checked]="feature.completed.value" disabled="{{access != 'developer'}}">
                    </mat-checkbox>
                    {{ feature.description }}
                </div>
                <div class="row align-center max-width-40">
                    <span class="status" [ngClass]="{'completed': feature.completed.value}">
                        <ng-container *ngIf="feature.completed.value && feature.accepted.value">
                            Accepted
                        </ng-container>
                        <ng-container *ngIf="feature.completed.value && !feature.accepted.value">
                            Completed
                        </ng-container>
                        <ng-container *ngIf="!feature.completed.value">
                            Incomplete
                        </ng-container>
                    </span>
                    <button [disableRipple]="true" mat-icon-button [matMenuTriggerFor]="menu1">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu  #menu1="matMenu">
                        <div class="row">
                            <button (click)="comment('feature', feature._id)" mat-icon-button color="accent">
                                <mat-icon>comment</mat-icon>
                            </button>
                            <button *ngIf="access == 'client' && feature.accepted.value" (click)="toggleFeatureStatus(feature._id, feature.accepted.value)" mat-icon-button color="accent">
                                <mat-icon *ngIf="!feature.accepted.value">done_all</mat-icon>
                                <mat-icon *ngIf="feature.accepted.value">close</mat-icon>
                            </button>
                            <button (click)="delete('feature',feature._id)" *ngIf="access == 'admin' && (!closed.admin.value && !closed.client.value)" mat-icon-button color="error">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <mat-divider *ngIf="index != features.length - 1"></mat-divider>
        </li>
    </div>
    <h3>Project issues</h3>
    <div class="padding">
        <li *ngIf="issues.length == 0">No issues to show</li>
        <li *ngFor="let issue of issues; let index = index">
            <div class="issue row space-between">
                <div class="row max-width-60 align-center">
                    <mat-checkbox class="margin-right" (change)="toggleStatus('issue', issue._id, issue.closed.value)" [checked]="issue.closed.value" disabled="{{access != 'developer'}}">
                    </mat-checkbox>
                    {{ issue.description }}
                </div>
                <div class="row align-center max-width-40">
                    <span class="status" [ngClass]="{'completed': issue.closed.value}">
                        <ng-container *ngIf="issue.closed.value && issue.accepted.value">
                            Approved
                        </ng-container>
                        <ng-container *ngIf="issue.closed.value && !issue.accepted.value">
                            Closed
                        </ng-container>
                        <ng-container *ngIf="!issue.closed.value">
                            Open
                        </ng-container>
                    </span>
                    <button [disableRipple]="true" mat-icon-button [matMenuTriggerFor]="menu2">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu2="matMenu">
                        <div class="row">
                            <button (click)="comment('issue', issue._id)" mat-icon-button color="accent">
                                <mat-icon>comment</mat-icon>
                            </button>
                            <button (click)="acceptIssue(issue._id)" *ngIf="(access == 'client' || access == 'admin') && !issue.accepted.value && issue.closed.value" mat-icon-button color="accent">
                                <mat-icon>done_all</mat-icon>
                            </button>
                            <button (click)="rejectIssue(issue._id)" *ngIf="(access == 'client' || access == 'admin') && issue.accepted.value && issue.closed.value"  mat-icon-button color="accent">
                                <mat-icon>close</mat-icon>
                            </button>
                            <button (click)="delete('issue', issue._id)" *ngIf="(access == 'client' || access == 'admin') && (!closed.admin.value && !closed.client.value)" mat-icon-button color="error">
                                <mat-icon>delete_outline</mat-icon>
                            </button>
                        </div>
                    </mat-menu>
                </div>
            </div>
            <mat-divider *ngIf="index != issues.length - 1"></mat-divider>
        </li>
    </div>
</div>