a {
    outline: none;
    text-decoration: none;
    color: inherit;
}
a:active{
    outline: none;
    text-decoration: none;
    color: inherit;

}
.space-between {
    justify-content: space-between; align-items: center;
}
.align-center {
    align-items: center;
}

li{
    list-style: none;
    text-decoration: none;
}
ul {
    list-style: none;
    text-decoration: none;
}

.status{
    padding: 5px 15px; border-radius: 10px; background-color: rgba(255,255,255,0.07);
    margin-right: 5px;
}
.margin-right {
    margin-right: 5px;

}
.padding{
    padding: 0px 20px;
    margin-bottom: 10px;
}
.completed {
    background-color: rgba(84, 201, 84, 0.486);
}
.issue {
    max-width: 100%;
}
.max-width-60{
    max-width: 60%;
    word-wrap:break-word;
    overflow:hidden;
}
.max-width-40 {
    max-width: 40%;
}