<div>
    <h3>Project links</h3>
    <div class="padding">
        <li *ngIf="links.length == 0">No links to show</li>
        <li *ngFor="let link of links; let index = index">
            <div class="row space-between">
                <div>
                    <a href="{{link.link}}">{{link.for}}</a>
                </div>
                <button (click)="delete('link',link.for)" mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>            
            </div>
            <mat-divider *ngIf="index != links.length - 1"></mat-divider>
        </li>
    </div>
    <h3>Project features</h3>
    <div class="padding">
        <li *ngIf="features.length == 0">No features to show</li>
        <li *ngFor="let feature of features; let index = index">
            <div class="row space-between">
                <div>
                    <mat-checkbox [checked]="feature.completed.value" disabled="{{access != 'developer'}}">
                        {{ feature.description }}
                    </mat-checkbox>
                </div>
                <div class="row align-center">
                    <span class="status" [ngClass]="{'completed': feature.status == 'Completed'}">
                        {{ feature.status }}
                    </span>
                    <button (click)="comment('feature', feature._id)" mat-icon-button color="accent">
                        <mat-icon>comment</mat-icon>
                    </button>
                    <button *ngIf="access == 'client'" mat-icon-button color="accent">
                        <mat-icon>done_all</mat-icon>
                    </button>
                    <button (click)="delete('feature',feature._id)" *ngIf="access == 'admin'" mat-icon-button color="error">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider *ngIf="index != features.length - 1"></mat-divider>
        </li>
    </div>
    <h3>Project issues</h3>
    <div class="padding">
        <li *ngIf="issues.length == 0">No issues to show</li>
        <li *ngFor="let issue of issues; let index = index">
            <div class="row space-between">
                <div>
                    <mat-checkbox [checked]="issue.closed.value" disabled="{{access != 'developer'}}">
                        {{ issue.description }}
                    </mat-checkbox>
                </div>
                <div class="row align-center">
                    <span class="status" [ngClass]="{'completed': issue.closed.value}">
                        <ng-container *ngIf="!issue.closed.value">
                            Open
                        </ng-container>
                        <ng-container *ngIf="issue.closed.value">
                            Closed
                        </ng-container>
                    </span>
                    <button (click)="comment('issue', issue._id)" mat-icon-button color="accent">
                        <mat-icon>comment</mat-icon>
                    </button>
                    <button (click)="acceptIssue(issue._id)" *ngIf="(access == 'client' || access == 'admin') && !issue.accepted.value" mat-icon-button color="accent">
                        <mat-icon>done_all</mat-icon>
                    </button>
                    <button (click)="rejectIssue(issue._id)" *ngIf="(access == 'client' || access == 'admin') && issue.accepted.value"  mat-icon-button color="accent">
                        <mat-icon>close</mat-icon>
                    </button>
                    <button (click)="delete('issue', issue._id)" *ngIf="access == 'client' || access == 'admin'" mat-icon-button color="error">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider *ngIf="index != issues.length - 1"></mat-divider>
        </li>
    </div>
</div>