<h3>Add to agenda</h3>
<div>
    <mat-radio-group (change)="toggle()" [formControl]="type" aria-label="Select an option">
        <mat-radio-button value="feature" class="margin-right">Project Feature</mat-radio-button>
        <mat-radio-button value="issue">Project Issue</mat-radio-button>
    </mat-radio-group>
</div>
<div class="full-width margin">
    <mat-form-field color="accent" class="full-width">
        <mat-label>Description</mat-label>
        <input [formControl]="value" matInput placeholder="Ex. Project Pizza needs a topping">
    </mat-form-field>
</div>
<div>
    <mat-form-field color="accent" *ngIf="showCalender" appearance="fill">
        <mat-label>Choose a due date</mat-label>
        <input [formControl]="dueDate" matInput [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
</div>
<div>
    <button mat-button color="accent" (click)="add()">Create agenda</button>
</div>
<div class="error">{{error}}</div>