<div *ngIf="loadingContent">

</div>
<div *ngIf="!loadingContent">
    <div class="row space-between">
        <div class="row center">
            <div class="font">
                {{name}}
            </div>
            <div>
                <span class="access">
                    {{access}}
                </span>
            </div>
        </div>
        <div class="row center">
            <div *ngIf="users.length > 2" class="users row">
                <div class="user">
                    +{{users.length - usersToShow.length}}
                </div>
                <div *ngFor="let user of usersToShow" class="user">
                    {{user.user.name[0]}}
                </div>
            </div>
            <div *ngIf="users.length < 3" class="users row">
                <div *ngFor="let user of users" class="user">
                    {{user.user.name[0]}}
                </div>
            </div>

            <div>
                <button [disableRipple]="true" mat-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="navigate('overview')" mat-menu-item>Project overview</button>
                    <button (click)="navigate('users')" mat-menu-item>Users list</button>
                    <button (click)="addLink()" [disabled]="closed.admin.value && closed.client.value" mat-menu-item>Add item</button>
                    <button *ngIf="access == 'admin'" [disabled]="closed.admin.value" (click)="closeProject()" mat-menu-item>Close project</button>
                    <button *ngIf="access == 'client'" [disabled]="closed.client.value" (click)="closeProject()" mat-menu-item>Approve project</button>
                    <button *ngIf="access == 'admin'" (click)="deleteProject()" mat-menu-item>Delete project</button>
                </mat-menu>
            </div>
        </div>
    </div>
    <div class="row">
        <span class="access">
            <ng-container *ngIf="closed.admin.value">Closed</ng-container>
            <ng-container *ngIf="!closed.admin.value">Open</ng-container>
        </span>
        <span class="access" *ngIf="closed.client.value">
            <ng-container *ngIf="closed.client.value">Approved</ng-container>
        </span>
    </div>
    <div class="margin-top">
        <router-outlet></router-outlet>
    </div>    
</div>