<div class="container background">
    <div class="container column form">
        <div>
            <h2>Reset your account password</h2>
        </div>
        <div class="form-enc">
            <div>
                <input placeholder="you@email.com" type="email" [formControl]="email" required>
            </div>
            <div class="relative">
                <button (click)="send()" mat-flat-button color="primary">Send change link</button>
                <span class="spinner" *ngIf="!fetchedResponse">
                    <mat-spinner color="accent" diameter="20"></mat-spinner>
                </span>
            </div>
            <div>
                {{error}}
            </div>
        </div>
        <div class="signup-margin">
            Don't have an account?
            <a [routerLink]="['/auth/signup']" class="signup-color">Sign up here</a>
        </div>
    </div>
</div>