<div class="container column center" *ngIf="name != undefined">
    <div class="navbar">
        <div class="hello-text">Hello {{name.split(" ")[0]}}</div>
        <p>Continue with tracking the progress of your projects efficiently</p>
        <input placeholder="Project name" (keyup)="filter()" [formControl]="projectName">
        <div class="projects">
            <ng-container *ngIf="showProject">
                <ng-container *ngIf="projects.length < 6">
                    <ng-container *ngFor="let project of projectsToShow">
                        <project-navbar (click)="openProject(project._id)" class="project column" [active]="project.closed.admin.value" [name]="project.name" [letter]="project.name[0]"></project-navbar>
                    </ng-container>
                    <project-navbar (click)="addProject()" class="project column" [name]="'Add projects'" [letter]="'+'"></project-navbar>
                </ng-container>
                <ng-container *ngIf="projects.length > 5">
                    <ng-container *ngFor="let project of projectsToShow">
                        <project-navbar (click)="openProject(project._id)" class="project column" [active]="project.closed.admin.value" [name]="project.name" [letter]="project.name[0]"></project-navbar>
                    </ng-container>
                    <project-navbar (click)="viewAll()" class="project column" [name]="'View more'" [letter]="projects.length - projectsToShow.length"></project-navbar>
                </ng-container>
            </ng-container>

            <ng-container *ngIf="!showProject">

            </ng-container>
        </div>
    </div>
</div>