.loader{
    width: 100%;
    justify-content: center;
    margin-top: 30px;
}
.desktop{
    display: block; width: 100%;
}
.mobile {
    display: none; width: 100%;
}
@media only screen and (max-width: 850px) {
    .mobile {
        display: block !important;
    }
    .desktop {
        display: none !important;
    }
}

.padding{
    padding: 0px 20px;
}
.project-desktop {
    width: 100%;
    padding: 20px;
    background-color: rgba(255,255,255,0.07);
    margin: 10px 0px;
    border-radius: 10px;    
}

.align-space-between {
    align-items: center; justify-content: space-between;
}
.justify-space-between {
    justify-content: space-between;
}
.center{
    align-items: center;
}
.status{
    padding: 5px 15px; border-radius: 10px; background-color: rgba(255,255,255,0.07);
    margin-right: 5px;
}
.stats{
    align-self: flex-end;
}
.stat {
    border-radius: 10px;
    padding: 10px;
    margin: 0px 5px;
    background-color: rgba(255,255,255,0.14);
}
.number{margin-right: 5px;}

.project-mobile{
    width: 300px;
    padding: 20px;
    min-width: 280px;

    background-color: rgba(255,255,255,0.07);
    margin: 0px 10px;
    border-radius: 10px;    
}

.projects-mobile{
    overflow-x: scroll;
    flex: 1;
}