.background {
    background-color: var(--surface);
    color: var(--text-alt);
}
.form {
    align-items: center; justify-content: center;
    min-height: 300px; 
}
.form-enc{ width: 250px; }
.form div{ margin: 10px auto; }
button{ width: 100%; }
login-input{ width: 100%; }

.signin-margin{ margin-top: 30px; }
.signin-color{ color: var(--primary-text); }

input{
    width: 100%; height: 30px;
    color: var(--text-alt);
    background-color: rgba(255, 255, 255, 0.07);

    outline: none; border: none; text-align: center; border-radius: 2.5px;
}
input:active{
    outline: none;
}

.relative{
    position: relative;
}

.spinner {
    position: absolute; top: 7.5px; right: 20px;
}