<div class="container background fixed row">
    <div class="left" [ngClass]="{'show':opened}">
        <span class="icon" (click)="toggle()" *ngIf="displayType == 'mobile'">
            <mat-icon aria-hidden="false" aria-label="Menu icon>">close</mat-icon>
        </span>

        <logout></logout>
        <navbar></navbar>
    </div>

    <div class="right">
        <mat-toolbar class="top row center"  *ngIf="displayType == 'mobile'">
            <span class="icon" (click)="toggle()">
                <mat-icon aria-hidden="false" class="icon" aria-label="Menu icon>">menu</mat-icon>
            </span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </div>
</div>
