.fixed {
    position: fixed; top: 0; left: 0;
    overflow: hidden;
    padding: 10px;
}
.background {
    background-color: var(--surface);
    color: var(--text-alt);
}
.center {
    align-items: center;
}
.left{
    width: 45%; height: 100%;
    overflow-y: auto;
    padding: 30px 20px;
    position: relative;
}
logout {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.right{
    width: 55%; height: 100%;
    overflow-y: auto;
    border-radius: 10px; position: relative;
    padding: 30px 20px;

    overflow-y: auto;
    background-color: rgba(255,255,255,0.07);
}

@media only screen and (max-width: 1050px) {
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
}

@media only screen and (max-width: 850px) {
    .right{
        width: 100%;
    }
    .background{
        padding-top: 50px;
    }
    .left {
        position: fixed;
        background-color: var(--surface);
        top: 0px;
        left: -350px;
        width: 350px; z-index: 2;
        transition: all 0.5s ease-out;
    }
}
@media only screen and (max-width: 350px) {
    .left {
        left: -100%;
        width: 100%;
    }
}
.show {
    left: 0px;
}
.left .icon {
    position: absolute; top: 10px; left: 10px
}
.right .icon {
    
}
.top {
    background-color: var(--surface);
    position: fixed; top: 0px; left: 0px; width: 100%; height: 50px;
}

.full-width{
    width: 100%; height: 100%;
}

::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(58, 58, 58, 0.07);
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(104, 104, 104)
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(100, 100, 100);  
  }