.fixed {
    position: fixed; top: 0; left: 0;
    overflow: hidden;
    padding: 10px;
}
.background {
    background-color: var(--surface);
    color: var(--text-alt);
}
.left{
    width: 45%; height: 100%;
    overflow-y: auto;
    padding: 30px 20px;
    position: relative;
}
logout {
    position: absolute;
    bottom: 10px;
    left: 10px;
}
.right{
    width: 55%; height: 100%;
    overflow-y: auto;
    border-radius: 10px; position: relative;
    padding: 30px 20px;

    background-color: rgba(255,255,255,0.07);
}

@media only screen and (max-width: 1050px) {
    .left {
        width: 50%;
    }
    .right {
        width: 50%;
    }
}