<div>
    <h3>Add a user</h3>

    <div class="users">
        <div class="input">
            <input placeholder="Enter name or email">
            <div class="icon">
                <mat-icon>search</mat-icon>
            </div>
        </div>
        <li *ngFor="let user of usersSearched; let index= index">
            <div class="row space-between">
                <div class="row center">
                    <div class="user-img">
                        {{user.user.name[0]}}
                    </div>
                    <div>
                        <div class="name">{{user.user.name}}</div>
                        <div class="email">{{user.user.email}}</div>
                    </div>
                </div>
                <div class="row center" *ngIf="user.added == false">
                    <button [matMenuTriggerFor]="menu" mat-icon-button color="accent">
                        <mat-icon>add</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                        <button (click)="addAs('client')" mat-menu-item>Client</button>
                        <button (click)="addAs('developer')" mat-menu-item>Developer</button>
                        <button (click)="addAs('admin')" mat-menu-item>Admin</button>
                    </mat-menu>
                </div>
                <div class="row center" *ngIf="user.added == true">
                    <span class="status">
                        {{user.access}}
                    </span>
                </div>
            </div>
            <mat-divider *ngIf="index != usersSearched.length - 1"></mat-divider>
        </li>
    </div>
    <h3>Project members</h3>
    <div class="users">
        <li *ngFor="let user of users; let index= index">
            <div class="row space-between">
                <div class="row center">
                    <div class="user-img">
                        {{user.user.name[0]}}
                    </div>
                    <div>
                        <div class="name">{{user.user.name}}</div>
                        <div class="email">{{user.user.email}}</div>
                    </div>
                </div>
                <div class="row center">
                    <span class="status">
                        {{user.access}}
                    </span>
                    <button *ngIf="access == 'admin'" mat-icon-button color="error">
                        <mat-icon>delete_outline</mat-icon>
                    </button>
                </div>
            </div>
            <mat-divider *ngIf="index != users.length - 1"></mat-divider>
        </li>
    </div>   
</div>