
<h3>Add a user</h3>

<div class="users">
    <div class="input">
        <input placeholder="Enter name or email">
        <div class="icon">
            <mat-icon>search</mat-icon>

        </div>
    </div>
    <li>
        <div class="row space-between">
            <div class="row center">
                <div class="user-img">
                    V
                </div>
                <div>
                    <div class="name">Vatsal Kandoi</div>
                    <div class="email">vatsalkandoi1998@gmail.com</div>
                </div>
            </div>
            <div>
                <button mat-icon-button color="accent">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
    </li>
</div>
<h3>Project members</h3>
<div class="users">
    <li>
        <div class="row space-between">
            <div class="row center">
                <div class="user-img">
                    V
                </div>
                <div>
                    <div class="name">Vatsal Kandoi</div>
                    <div class="email">vatsalkandoi1998@gmail.com</div>
                </div>
            </div>
            <div>
                <span class="status">
                    Client
                </span>
                <button mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <li>
        <div class="row space-between">
            <div class="row center">
                <div class="user-img">
                    V
                </div>
                <div>
                    <div class="name">Vatsal Kandoi</div>
                    <div class="email">vatsalkandoi1998@gmail.com</div>
                </div>
            </div>
            <div>
                <span class="status">
                    Client
                </span>
                <button mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <li>
        <div class="row space-between">
            <div class="row center">
                <div class="user-img">
                    V
                </div>
                <div>
                    <div class="name">Vatsal Kandoi</div>
                    <div class="email">vatsalkandoi1998@gmail.com</div>
                </div>
            </div>
            <div>
                <span class="status">
                    Client
                </span>
                <button mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <li>
        <div class="row space-between">
            <div class="row center">
                <div class="user-img">
                    V
                </div>
                <div>
                    <div class="name">Vatsal Kandoi</div>
                    <div class="email">vatsalkandoi1998@gmail.com</div>
                </div>
            </div>
            <div>
                <span class="status">
                    Client
                </span>
                <button mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </li>
    <mat-divider></mat-divider>
    <li>
        <div class="row space-between">
            <div class="row center">
                <div class="user-img">
                    V
                </div>
                <div>
                    <div class="name">Vatsal Kandoi</div>
                    <div class="email">vatsalkandoi1998@gmail.com</div>
                </div>
            </div>
            <div>
                <span class="status">
                    Client
                </span>
                <button mat-icon-button color="error">
                    <mat-icon>delete_outline</mat-icon>
                </button>
            </div>
        </div>
    </li>
</div>