.project {
    padding: 10px 20px;
    justify-content: space-between; align-items: center;
    cursor: pointer;
}
.space-between{
    justify-content: space-between; align-items: center;
}
.status {
    padding: 5px 15px;
    border-radius: 5px; margin-right: 10px;
}
.active {
    color: green;
}
.inactive {
    color: tomato;
}
.center{
    align-items: center;
}