/* You can add global styles to this file, and also import other style files */
* {
    --primary: #00BCD4;
    --surface: #121212;
    --text-base: #000000;
    --text-alt: #FFFFFF;
    --primary-text: #673ab7;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {box-sizing: border-box;}

.row { display: flex; flex-direction: row; -ms-flex-direction: row; }
.column { display: flex; flex-direction: column; -ms-flex-direction: column; }
.container{ width: 100%; height: 100%; }
a{text-decoration: none; outline: none;}
a:active {text-decoration: none; outline: none;}

/** Error 40%  white overlay **/
/** Elevattion table
    00dp	0%
    01dp	5%
    02dp	7%
    03dp	8%
    04dp	9%
    06dp	11%
    08dp	12%
    12dp	14%
    16dp	15%
    24dp	16%
**/