.status{
    padding: 5px 15px; border-radius: 10px; background-color: rgba(255,255,255,0.07);
    margin:0px 5px;
}
.align-space-between{
    justify-content: space-between; align-items: center;
}
.center {
    align-items: center;
}
.green {
    background-color: rgba(84, 201, 84, 0.486);
}

.comment {
    margin: 15px 0px;
    position: relative;
}
.comment div{
    margin: 0px;
}
.font-size{
    font-size: 0.8rem;
}
.icon {
    cursor: pointer;
    position: absolute; top: 5px; right: 5px;
}

.center {
    align-items: center;
}
.margin {
    margin-top: 20px;
}
.padding{
    padding: 0px 20px;
    margin: 10px 0px;
}
.input{
    width: 300px;
    position: relative;
}
.icon {
    position: absolute;
    top: 7.5px; right: 10px;
}
input{
    width: 100%; height: 40px;
    color: var(--text-alt);
    padding: 0 20px;
    padding-right: 50px;
    background-color: rgba(255, 255, 255, 0.07);
    outline: none; border: none; border-radius: 5px;
}
input:active{
    outline: none;
}

li {
    list-style: none;
    text-decoration: none;
}

.name {
    font-weight: bold;
    margin-right: 10px;
}
.time{
    font-size: 0.9rem
}